:root {
  --purple: #853efb;
  --light-purple: #d9d4fa;
  --grey: #685c7a;
  --dark: #2a2533;
  font-family: "Outfit", sans-serif;
  --base-unit: 1rem;
  --white: #F4F5FA;
  --white2: #F2F3F4
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark);
  background-color: var(--white2);
}

header * {
  text-align: center;
  margin: 4rem auto 4rem auto;
}

header h1 {
  color: var(--purple);
}

header h2 {
  font-weight: 300;
}

span {
  color: var(--purple);
  font-weight: bold;
}

h3 {
  text-align: center;
  font-weight: 300;
  margin: 1rem auto 1rem auto;
}

.chefimage {
  display: block;
  margin: auto auto 4rem auto;
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 4rem auto 4rem auto;
  background-color: var(--light-purple);
  border-radius: 20px;
}

input[name="ingredient"] {
  height: 5rem;
  font-family: "Outfit", sans-serif;
  max-width: 25rem;
  display: block;
  margin: 4rem auto 1rem auto;
  text-align: center;
  border-radius: 8px;
  border-color: var(--grey);
  font-size: 1.3em;
  color: var(--purple);
  transition-duration: 0.2s;
}

input[name="ingredient"]:focus {
  border: 2px solid var(--purple);
  outline: none !important;
}

input[name="ingredient"]:focus::placeholder{
  color: transparent;
}

.ingredient-block {
  margin: auto;
  background-color: var(--light-purple);
}

.ingredients-list {
  display: flex;
  justify-content: left;
  margin-bottom: 4rem;
  font-weight: 300;
  overflow-wrap: break-word;
  text-align: center;
}

.reset-line {
  display: flex;
  align-items: center;
  justify-content: left;
}

.ingredients-ul {
  columns: 6.25rem 4;
  margin: auto;
  display: inline-block;
  text-align: left;
  background-color: var(--light-purple);
}

.ingredients-ul li {
  list-style-type: none;
  background-color: var(--light-purple);
}

.ingredients-li {
  display: flex;
  justify-content: left;
  line-height: 3.125rem;
  background-color: var(--light-purple);
}

#reset-icon {
  object-fit: contain;
  margin: auto 0.5rem auto 0.5rem;
  transition-duration: 0.2s;
  background-color: var(--light-purple);
}

#reset-icon:hover {
  transform: rotate(180deg);
}

.cuisine-type-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  width: 50rem;
  margin: auto;
}


.cuisine-type-element{
  min-width: 8rem
}

.cuisine-type-element [type="radio"]{
  display: none;
}

.cuisine-type-element label {
  display: block;
  padding: 0.7rem;
  text-align: center;
  background: var(--light-purple);
  border: var(--light-purple) 2px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
}

.cuisine-type-element label:hover{
  border: var(--purple) 2px solid;
  background-color: white;
  box-shadow: 5px 5px 5px var(--purple);
}

.cuisine-type-element [type="radio"]:checked ~ label{
  border: var(--purple) 2px solid ;
  background-color: var(--purple);
  color: white;
}

.cuisine-type-element [type="radio"]:checked ~ label:hover{
  box-shadow: none;
}

.generate-button{
  background-color: var(--purple);
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: pointer;
  display: flex;
  margin: 4rem auto 4rem auto;
  font-size: 1.2em;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  border: white 2px solid;
}

.generate-button:hover {
  background-color: white;
  color: var(--purple);
  border: var(--purple) 2px solid;
  box-shadow: 5px 5px 5px var(--purple);
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--base-unit);
  max-width: 75rem;
  margin: 4rem auto 4rem auto;
  border-radius: 20px;
}

.recipe-container article {
  padding: 1.25rem;
  background-color: #d9d4fa;
  border-radius: 10px;
  width: 18.75rem;
  height: 25rem;
  text-align: center;
  margin: auto;
  box-shadow: 1px 1px 3px grey;
}

.recipe-container h2 {
  font-weight: 300;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
}

.recipe-container li {
  list-style-type: none;
}

article img {
  border-radius: 10px;
}

.recipe-button{
  background-color: var(--purple);
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: pointer;
  display: flex;
  margin: 1rem auto 1rem auto;
  font-size: 1.2em;
  border-radius: 10px;
  border: var(--purple) 2px solid;
  font-family: "Outfit", sans-serif;
}

.recipe-button:hover{
  background-color: white;
  color:var(--purple);
  border: var(--purple) 2px solid;
  box-shadow: 5px 5px 5px var(--purple);
}

a{
  text-decoration: none;
}

@media (width <= 480px) {

header * {
  margin: 2rem auto 2rem auto;
}

h1{
  font-size: x-large;
}

header h2{
  font-size: medium;
}

.chefimage{
  width: 10rem;
  height: 10rem;
  margin: auto ;
}

h3{
  font-size: medium;
  margin: 1rem
}

.ingredients-container{
  margin: 4rem 1rem 4rem 1rem;
}

.ingredient-block{
  margin: auto 1rem auto 1rem;
}

input[name="ingredient"]{
  margin-top: 3rem;
}

#ingredient{
  max-width: 15rem;
  height: 3rem;
  font-size: medium;
}

.ingredients-list{
  font-size: small;
  margin-bottom: 2rem;
}

.ingredients-li{
  line-height: 2rem;
}

#reset-icon{
  margin: 0 0.5rem 0 0;
  width: 1rem;
}

.cuisine-type-container{
  max-width: 95vw;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: start;
}

.cuisine-type-element{
  min-width: 30vw;
  font-size: small;
}

.cuisine-type-element label{
  padding: 0.5rem;
}

.generate-button,
.recipe-button{
  font-size: medium;
  font-family: "Outfit", sans-serif;
  padding: 0.7rem 2rem;
}

.recipe-container{
  display: block;
}

.recipe-container article{
  width: 15rem;
  height: auto;
  padding: 0.5rem;
  margin-bottom: 1em;
}

.recipe-container h2{
  height: 5em;
  font-size: large;
}

.recipe-button{
  padding: 0.5rem 1rem;
}

}

@media (481px <= width <= 768px) {


}

@media (769px <= width <= 1200px) {


}

@media (width > 1200px) {


}