:root {
  --purple: #853efb;
  --light-purple: #d9d4fa;
  --grey: #685c7a;
  --dark: #2a2533;
  font-family: "Outfit", sans-serif;
  --base-unit: 1rem;
  --white: #f4f5fa;
  --white2: #f2f3f4;
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark);
  background-color: var(--white2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
  gap: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

h1 {
  color: var(--purple);
  font-size: x-large;
}

header h2 {
  font-weight: 300;
  font-size: medium;
}

span {
  color: var(--purple);
  font-weight: bold;
}

h3 {
  text-align: center;
  font-weight: 300;
  font-size: medium;
  margin-bottom: 1rem;
}

.chefimage {
  display: block;
  border-radius: 100%;
  /* width: 15rem;
  height: 15rem; */
  width: 10rem;
  height: 10rem;
  margin: auto;
  object-fit: cover;
}
/* 
.ingredients-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 4rem auto 4rem auto;
  background-color: var(--light-purple);
  border-radius: 20px;
} */

.ingredient-block {
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-color: var(--light-purple);
}

input[name="ingredient"] {
  font-family: "Outfit", sans-serif;
  background-color: white;
  width: 80%;
  height: 3rem;
  margin: 2rem auto 1rem auto;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  border-color: var(--grey);
  font-size: medium;
  color: var(--purple);
  transition-duration: 0.2s;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23000000'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
}

input[name="ingredient"]:focus {
  border: 2px solid var(--purple);
  outline: none !important;
}

input[name="ingredient"]:focus::placeholder {
  color: transparent;
}

.ingredients-list {
  display: flex;
  justify-content: left;
  margin: auto 0.5rem 2rem 0.5rem;
  font-weight: 300;
  overflow-wrap: break-word;
  text-align: center;
  font-size: small;
  background-color: var(--light-purple);
}

.reset-line {
  display: flex;
  align-items: center;
  justify-content: left;
}

.ingredients-ul {
  /* columns: 6.25rem 4; */
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  background-color: var(--light-purple);
}

.ingredients-ul li {
  list-style-type: none;
  background-color: transparent;
}

.ingredients-li {
  display: flex;
  justify-content: left;
  line-height: 2rem;
  background-color: #853efb30;
  border: #853efb30 1px solid;
  border-radius: 5px;
  padding: 0 0.5rem 0 0.5rem;
}

#reset-icon {
  object-fit: contain;
  /* margin: auto 0.5rem auto 0.5rem; */
  transition-duration: 0.2s;
  margin: 0 0.5rem 0 0;
  width: 1rem;
  background-color: transparent;
}

#reset-icon:hover {
  transform: rotate(180deg);
}

.cuisine-type-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  /* min-width: 28rem; */
  margin: auto;
  max-width: 30rem;
  /* min-width: 100%; */
  gap: 0.5rem;
  justify-content: center;
}

.cuisine-type-element {
  min-width: 6.5rem;
  flex: 1;
  font-size: small;
}

.cuisine-type-element [type="radio"] {
  display: none;
}

.cuisine-type-element label {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background: var(--light-purple);
  border: var(--light-purple) 2px solid;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
}

.cuisine-type-element label:hover {
  border: var(--purple) 2px solid;
  background-color: white;
  box-shadow: 5px 5px 5px var(--purple);
}

.cuisine-type-element [type="radio"]:checked ~ label {
  border: var(--purple) 2px solid;
  background-color: var(--purple);
  color: white;
}

.cuisine-type-element [type="radio"]:checked ~ label:hover {
  box-shadow: none;
}

.generate-button,
.recipe-button {
  font-size: medium;
  font-family: "Outfit", sans-serif;
  padding: 0.7rem 2rem;
}

.generate-button {
  background-color: var(--purple);
  border: none;
  color: white;
  /* padding: 1rem 2rem; */
  text-align: center;
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: pointer;
  display: flex;
  /* margin: 4rem auto 4rem auto; */
  /* font-size: 1.2em; */
  border-radius: 10px;
  /* font-family: "Outfit", sans-serif; */
  border: white 2px solid;
}

.generate-button:hover {
  background-color: white;
  color: var(--purple);
  border: var(--purple) 2px solid;
  box-shadow: 5px 5px 5px var(--purple);
}

.recipe-container {
  display: grid;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(1, auto); */
  gap: 1rem;
  /* align-items: center; */
  max-width: 14rem;
  margin: auto;
  border-radius: 20px;
  /* border: red 1px solid; */
}

.recipe-container article {
  padding: 0 1.25rem 0 1.25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #d9d4fa;
  border-radius: 10px;
  width: 80%;
  /* border: green 1px solid; */
  height: 25rem;
  text-align: center;
  /* margin: auto; */
  box-shadow: 1px 1px 3px grey;
}

.recipe-container h2 {
  font-weight: 300;
  /* border: red 1px solid; */
  font-size: large;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple);
}

.recipe-container li {
  list-style-type: none;
}

article img {
  border-radius: 10px;
}

.recipe-button {
  background-color: var(--purple);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: pointer;
  display: flex;
  margin: auto;
  /* font-size: 1.2em; */
  border-radius: 10px;
  border: var(--purple) 2px solid;
  /* font-family: "Outfit", sans-serif; */
}

.recipe-button:hover {
  background-color: white;
  color: var(--purple);
  border: var(--purple) 2px solid;
  box-shadow: 5px 5px 5px var(--purple);
}

a {
  text-decoration: none;
  background-color: var(--light-purple);
}
/*
@media (width <= 480px) {
  main {
    margin: 2rem 1rem 2rem 1rem;
    gap: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  h1 {
    font-size: x-large;
  }

  header h2 {
    font-size: medium;
  }

  .chefimage {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  h3 {
    font-size: medium;
    margin-bottom: 1rem;
  }


  .ingredient-block {
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }

  input[name="ingredient"] {
    margin-top: 2rem;
  }

  #ingredient {
    max-width: 15rem;
    height: 3rem;
    font-size: medium;
  }

  .ingredients-list {
    font-size: small;
    margin: auto 0.5rem 2rem 0.5rem;
    background-color: var(--light-purple);
  }

  .ingredients-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .ingredients-li {
    line-height: 2rem;

    border: #853efb30 1px solid;
    border-radius: 5px;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #853efb30;
  }

  #reset-icon {
    margin: 0 0.5rem 0 0;
    width: 1rem;
    background-color: transparent;
  }

  .cuisine-type-container {
    max-width: 95vw;
    gap: 0.5rem;
    min-width: 100%;
    justify-content: center;
  }

  .cuisine-type-element {
    min-width: 30vw;
    font-size: small;
  }

  .cuisine-type-element label {
    padding: 0.5rem;
  }

  .generate-button,
  .recipe-button {
    font-size: medium;
    font-family: "Outfit", sans-serif;
    padding: 0.7rem 2rem;
  }

  .recipe-container {
    display: block;
  }

  .recipe-container article {
    width: 15rem;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 1em;
  }

  .recipe-container h2 {
    height: 5em;
    font-size: large;
  }

  .recipe-button {
    padding: 0.5rem 1rem;
  }
}
*/

@media (576px <= width <= 992px) {
  h1 {
    font-size: xx-large;
  }

  header h2 {
    font-weight: 300;
    font-size: large;
  }

  h3 {
    text-align: center;
    font-weight: 300;
    font-size: large;
    margin-bottom: 1rem;
  }

  .chefimage {
    width: 12rem;
    height: 12rem;
  }

  input[name="ingredient"] {
    height: 4rem;
    font-size: large;
  }

  .ingredients-list {
    font-size: medium;
  }

  .cuisine-type-element {
    min-width: 8rem;
    flex: 1;
    font-size: medium;
  }

  .generate-button,
  .recipe-button {
    font-size: large;
    padding: 1rem 2rem;
  }

  .recipe-container {
    max-width: 18rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 35rem;
  }

  .recipe-container article {
    width: 80%;
    margin: auto;
  }

  .recipe-container h2 {
    font-size: larger;
    /* height: 10rem; */
  }

  .recipe-button {
    padding: 0.5rem 1.2rem;
  }
}

@media (width > 992px) {
  h1 {
    font-size: xx-large;
  }

  header h2 {
    font-weight: 300;
    font-size: x-large;
  }

  h3 {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 1rem;
  }

  .chefimage {
    width: 15rem;
    height: 15rem;
  }

  .ingredient-block {
    max-width: 40rem;
  }

  input[name="ingredient"] {
    height: 5rem;
    font-size: x-large;
  }

  input::-webkit-search-cancel-button {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30px' viewBox='0 -960 960 960' width='30px' fill='%23000000'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
  }

  .ingredients-list {
    font-size: medium;
  }

  .cuisine-type-container {
    max-width: 40rem;
  }

  .cuisine-type-element {
    min-width: 8rem;
    font-size: large;
  }

  .generate-button {
    font-size: large;
    padding: 1rem 3rem;
  }

  .recipe-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 60rem;
  }

  .recipe-container h2 {
    font-size: larger;
    /* height: 10rem; */
  }

  .recipe-button {
    padding: 0.5rem 1.5rem;
    font-size: large;
  }
}
